@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');
/*Custom properties*/
:root{
    /*Colors*/
 --clr-primary: hsl(0, 0%, 100%);
 --clr-secondary: hsl(40, 23%, 97%);
 --clr-accent: hsl(33, 53%, 76%);
 --clr-font-normal: hsl(0, 0%, 20%);
 --clr-font-hover: hsl(0, 0%, 0%);

 /*Fonts*/
 --ff-primary: 'Raleway', sans-serif;
 --ff-secondary: 'Quicksand', sans-serif;
 --ff-quotes: 'Josefin Slab', serif;

 --fw-light: 300;
 --fw-normal: 400;
 --fw-bold: 600;
}


/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, svg, video{
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: 800;
}

input{
    border: none;
}

html, body{
    scroll-behavior: smooth;
    scroll-padding-top: 4.2rem;
}


.header{
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}

.header__links{
    display: flex;
    gap: 1.75rem;
}

.header__links a{
    color: var(--clr-font-normal);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.header__links a:hover{
    color: var(--clr-font-hover);
}

.hero{
    background-color: var(--clr-secondary);
}

.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__text{
    display: flex;
    flex-direction: column;
}

.hero__text img{
    margin: 0 auto;
    transform: scale(0);
    animation: scaling forwards;
    animation-duration: 3000ms;
    animation-delay: 300ms;

}

@keyframes scaling{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.hero__text div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline-end: 1.5rem;
}

.hero__text span{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.2rem;

}

.hero__text button{
    display: inline-flex;
    width: max-content;
    align-self:center ;
    margin-block: 2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 100vw;
    background-color: var(--clr-secondary);
    cursor: pointer;
    transition: background-color 800ms;
}

.hero__text button:hover{
    background-color: var(--clr-accent);
}

.hero__video video{
    object-fit: cover;
}

.video__container {
    width: 50%;
    height: 450px;
    position: relative;
    isolation: isolate;
    padding-left: 3rem;
}

.video__container::before{
    content: 'ABOUT US';
    font-family: var(--ff-secondary);
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    margin-bottom: 10px;
    position: relative;
    top: -20px
}

.video__container::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    transform: translate(9%, -88%);
    z-index: -1;
    background-color: var(--clr-accent);
}

.video__container video{
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center 10px;
}

.about_us{
    background-color: var(--clr-primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.about_us__text{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    width: 90ch;

}

.about_us__text h2{
    font-family: var(--ff-primary);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about_us__text p{
    font-family: var(--ff-secondary);
    font-size: 1.15rem;
    line-height: 2;
}

.services{
    margin-top: 8rem;
}

.grid__container{
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
    'our our photo'
    'bookkeeping talent_business photo'
    'payroll it_admin photo';
    background-image: linear-gradient(var(--clr-secondary) 50%, var(--clr-accent) 50%);
    column-gap: 2rem;
    position: relative;
}

.services_h2{
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    grid-area: our;
    align-self: center;
    padding-left: 1rem;
    padding-top: 1rem;
}

.grid__container h3{
    font-family: var(--ff-secondary);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    grid-area: our;
    align-self: center;
    padding-left: 1rem;
    margin-top: 1rem;
}

.grid__container p{
    font-family: var(--ff-secondary);
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1.5rem;
    line-height: 1.7;

}

.bookkeeping{
    grid-area: bookkeeping;

}

.payroll{
    grid-area: payroll;
}

.talent_business{
    grid-area: talent_business;
}

.it_admin{
    grid-area: it_admin;
}

.photo{
    grid-area: photo;
}

.photo img{
    height: 100%;
    object-fit: cover;
}

.team{
    background-color: var(--clr-secondary);
    margin-top: 3rem;
}

.grid__container--team{
    display: grid;
    column-gap: 5rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr;
    grid-template-areas:
    'our_team our_team'
    'quote       quote'
    'Megan      Esther'
    'Marti     Eugenie'
    'Cathie      Maria';
}

.container__one{
    grid-area: Megan;
    justify-content: flex-end;
}

.container__two{
    grid-area: Marti;
    justify-content: flex-end;
}

.container__three{
    grid-area: Cathie;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.container__four{
    grid-area: Esther;
}

.container__five{
    grid-area: Eugenie;
}

.container__six{
    grid-area: Maria;
    padding-bottom: 2rem;
}

.grid__container--team h2{
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    grid-area: our_team;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.grid__container--team > p{
    font-weight: 700;
    font-family: var(--ff-quotes);
    font-size: 1.8rem;
    grid-area: quote;
    text-align: center;
    align-self: center;
}

.container__team{
    display: flex;
    flex-basis: 200px;
    border-bottom: 2px solid var(--clr-accent);

}

.container__team img{
    width: 200px;
    min-width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    border: 5px double var(--clr-accent);

}

.container__team div{
    align-self: center;
    padding-inline: 1rem;
}

.container__team h5{
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
}

.container__team h6{
    font-family: var(--ff-secondary);
    font-size: 1.10rem;
    font-style: italic;
}

.container__team p{
    font-family: var(--ff-secondary);
    font-size: 1rem;
    padding-top: 1rem;
}

.software_tech h2{
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.software_tech--container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-block: 2rem;
}
.left, .middle{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;

}

.left span, .middle span{
    font-family: var(--ff-secondary);
    font-size: 1.45rem;
    font-weight: bold;
    line-height: 2;
}

.right{
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    line-height: 2;
    text-align: justify;
    flex-basis: 50%;
}

.brands{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.brands img{
    max-width: 150px;
    object-fit: contain;
}

.contact{
    background-color: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.contact__container{
    display: flex;
    justify-content: center;
    gap: 2rem
}

.contact__form--title{
    font-family: var(--ff-primary);
    font-size: 2rem;
    letter-spacing: 0.3rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

.contact__form--subtitle{
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    padding-top: 2rem;
    padding-left: 3.1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
}

form label, form input{
    font-size: 1.75rem;
}

form label{
    font-family: var(--ff-primary);
    padding-left: 1rem;
}

form input{
    border-bottom: 2px solid var(--clr-accent);
    border-radius: 100vh;
    margin-left: 1rem;
    padding-left: 0.5rem;
}

form input::placeholder{
    font-style: italic;
    font-size: 1.5rem;
    padding-left: 0.6rem;
    opacity: .6;
}

form button{
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: bold;
    display: inline-flex;
    width: max-content;
    align-self: center;
    padding: 0.75rem 1.5rem;
    border-radius: 100vw;
    background-color: var(--clr-secondary);
    cursor: pointer;
    transition: background-color 800ms;
    margin-bottom: 2rem;
}

form button:hover{
    background-color: var(--clr-accent);
}

.contact__info--img-1{
    width: 500px;
    height: 300px;
    object-fit: cover;
    padding-bottom: 2rem;
}

.contact__info--info{
    display: flex;
    align-items: center;
}

.contact__info--links {
    display: flex;
    flex-direction: column;
}

.contact__info--links h5{
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0.2rem;
}

.contact__info--links p{
    font-family: var(--ff-secondary);
    font-size: 1.2rem;
}

.contact__info--links p:not(:last-child){
    font-family: var(--ff-secondary);
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.contact__info--icons{
    display: flex;
   gap: 1rem;
}

.facebook{
    color: hsl(220, 44%, 41%);
}

.linkedIn{
    color: hsl(199, 84%, 35%);
}

.skype{
    color: hsl(196, 100%, 47%) !important;
}

footer{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

footer > p{
    font-family: var(--ff-secondary);
    font-weight: 600;
}


@media screen and (max-width: 1331px) {

    .left span, .middle span{
        line-height: 1.6;
    }

    .hero__video, .video__container{
        display: none;
    }

    .about_us{
        justify-content: center;
        align-items: center;
    }

    .services .grid__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'our our'
        'bookkeeping talent_business'
        'payroll it_admin';
    }

    .grid__container--team > p {
        padding: 2rem;
    }

    .photo{
        display: none;
    }

    .left span, .middle span{
        padding-inline: 2rem;
    }

    .right p{
        max-width: 100%;
        font-size: smaller;
    }

    .contact__info--info{
        width: max-content;
        max-width: fit-content;
    }

    form input {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 875px) {
    .software_tech--container{
        flex-direction: column;
    }

    .hero__text div{
        align-self: center;
        justify-content: center;
    }

    .grid__container--team{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'our_team'
        'quote'
        'Megan'
        'Esther'
        'Marti'
        'Eugenie'
        'Cathie'
        'Maria';
    }

    .grid__container--team h2 {
        margin:0;
    }

    .grid__container {
        display: flex;
        flex-direction: column;
        }

    .grid__container h3{
       align-items: flex-start;
    }

    .services_h2{
        align-self: flex-start;
        padding-inline-end: 1.5rem;
    }

    .left, .middle {
        flex-direction: row;
        flex-wrap: wrap;
        padding-block: 1rem;
        justify-content: center;
    }

    .left span, .middle span{
        padding-inline: 1rem;
    }

    .right p{
        padding-inline: 1rem;
        padding-top: 1rem;
    }

    .contact__container{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact__info--img-1{
        display: none;
    }

    form input {
        margin-top: 1rem;
        max-width: 100%;
        overflow: hidden;
    }

    .header {
        display: none;
    }

    .contact__form--questions{
        align-items: center;
    }

    form button{
        align-self: flex-start;
        margin-left: 2rem;
    }

    .grid__container--team h2 {
        padding: 0;
        margin-bottom: 1rem
    }

    .grid__container--team > p {
        padding: 0;
    }

    footer{
        height: auto;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    footer .first{
        padding-top: 0.7rem;
    }

}